.stfolder
*.env
*.crt
*.key
*.log
*.db
*.state

traefik/acme

homeassistant/.storage
homeassistant/.spotify-token-cache
homeassistant/deps
homeassistant/ecobee.conf
homeassistant/bravia.conf
homeassistant/secrets.yaml
homeassistant/*.pickle
homeassistant/.HA_VERSION
homeassistant/.ios.conf
homeassistant/known_devices.yaml
homeassistant/discogs*

syncthing/*

ubnt/*
