[Unit]
Description=Collect stats from MPD for beets

[Service]
User=tball
ExecStart=/usr/local/bin/beet mpdstats

# Restart, but not more than once every 10 minutes
Restart=on-failure
StartLimitBurst=0
StartLimitInterval=120

[Install]
WantedBy=multi-user.target
